body {
  margin: 0;
  font-family: sans-serif;
  color: #eee;
  background-color: #222;
}
h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 22px;
  padding: 10px;
}
form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 55px #fff2;
  border-radius: 8px;
  margin-top: 50px;
}
.form_input {
  padding: 6px 20px;
}
input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #eee;
}
textarea {
  font-family: sans-serif;
  resize: none;
}
.check {
  width: auto;
  height: 10px;
}
option {
  background-color: #222;
  color: #eee;
}

fieldset {
  border-radius: 5px;
  border: 1px solid #666;
  padding: 10px 7px 20px 7px;
  margin: 20px;
}
legend {
  padding: 0 6px;
  color: #777;
}
