.caja-sombra {
  box-sizing: border-box;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 40px 0 #0007;
  padding: 20px;
  padding-top: 10px;
  color: #444;
  font-family: sans-serif;
  text-align: center;
}

p {
  list-style: none;
  text-align: justify;
  line-height: 1.4;
  font-size: 14px;
  text-shadow: 0 0 1px rgb(158, 16, 16);
}

img {
  width: 300px;
  filter: drop-shadow(0 0 40px #0007);
}
